.artist-list-item {
  margin: 0.5%;
  padding: 10px;
  width: 24%;
  float: left;
  background-color: white;
}

.artist-list-item__label {
  display: inline-block;
  font-weight: bold;
}

@media (max-width: $small-screen-size) {
  .artist-list-item {
    margin: 2% 2% 0 2%;
    padding: 10px;
    width: 96%;
    float: left;
    background-color: white;
  }
}
