.filters {
  padding: 10px 0;
  width: 60%;
  height: 100%;
  border-right: 1px solid $header-border-color;
  float: left;
}

.filters__filter,
.filters__order-by {
  padding: 0 20px;
  width: 25%;
  height: 100%;
  float: left;
  border-right: 1px solid $header-border-color;
  text-align: center;
  font-size: 0.9em;
  color: #666;
}

.filters__order-by {
  border-right: none;
}

.filters__gender-label {
  display: inline-block;
  margin: 2px 5px 0 15px;
}
