.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: white;
  border-bottom: 1px solid $header-border-color;
}

.header__title {
  padding: 17px;
  width: 25%;
  height: 100%;
  border-right: 1px solid $header-border-color;
  float: left;
  font-size: 1.3em;
}

.header__map-toggle {
  position: relative;
  width: 25%;
  height: 100%;
  float: left;
}

.header__map-toggle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  transition: all 200ms;
}

.header__map-toggle-text:hover {
  cursor: pointer;
  color: #999;
}
